@using ERPFastTrack.Common.Static;
<!-- Footer: Start -->
<footer class="landing-footer bg-body footer-text">
	<div class="footer-bottom py-3">
		<div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
			<div class="mb-2 mb-md-0">
				<span class="footer-text">
					©
					<script>
						document.write(new Date().getFullYear());

					</script>
					<a href='#' target="_blank" class="footer-link fw-medium footer-theme-link">@GlobalVariables.Author</a>, Made with <i class="ti ti-heart-filled text-danger"></i> for a best experience.
				</span>
			</div>
		</div>
	</div>
</footer>
<!-- Footer: End -->
