@using ERPFastTrack.Common.Static;
@{
	TempData.Keep();
	string? currentPage = Convert.ToString(ViewContext.RouteData.Values["Page"])!;
}

@section VendorScripts{
	<script src="~/vendor/js/dropdown-hover.js"></script>
	<script src="~/vendor/js/mega-dropdown.js"></script>
}

<!-- Navbar: Start -->
<nav class="layout-navbar shadow-none py-0">
	<div class="container">
		<div class="navbar navbar-expand-lg landing-navbar border-top-0 px-3 px-md-4">
			<!-- Menu logo wrapper: Start -->
			<div class="navbar-brand app-brand demo d-flex py-0 py-lg-2 me-4">
				<!-- Mobile menu toggle: Start-->
				<button class="navbar-toggler border-0 px-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="ti ti-menu-2 ti-sm align-middle"></i>
				</button>
				<!-- Mobile menu toggle: End-->
				<a href="/FrontPages/LandingPage" class="app-brand-link">
					<span class="app-brand-logo demo">
						@await Html.PartialAsync("../_Partials/_Macros")
					</span>
					<span class="app-brand-text demo menu-text fw-bold ms-2 ps-1">@GlobalVariables.AppName</span>
				</a>
			</div>
			<!-- Menu logo wrapper: End -->
			<!-- Menu wrapper: Start -->
			<div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
				<button class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="ti ti-x ti-sm"></i>
				</button>
				<ul class="navbar-nav me-auto p-3 p-lg-0">
					<li class="nav-item">
						<a class="nav-link fw-medium" asp-page="/FrontPages/LandingPage" asp-fragment="landingHero">Home</a>
					</li>
				</ul>
			</div>
			<div class="landing-menu-overlay d-lg-none"></div>
			<!-- Menu wrapper: End -->
			<!-- Toolbar: Start -->
			<ul class="navbar-nav flex-row align-items-center ms-auto">
				
				<!-- navbar button: Start -->
				<li>
					<a href="/Identity/Account/Login" class="btn btn-primary"><span class="tf-icons ti ti-login scaleX-n1-rtl me-md-1"></span><span class="d-none d-md-block">Login/Register</span></a>
				</li>
				<!-- navbar button: End -->
			</ul>
		</div>
	</div>
</nav>
