@using ERPFastTrack.Abstraction.AbstractClass;
@using ERPFastTrack.Common.Operations;
@using ERPFastTrack.Common.Static;

@{
	TempData.Keep();
	string? currentPage = Convert.ToString(ViewContext.RouteData.Values["Page"])!;
	var roleManager = Utils.GetService<OrgRoleManagerAbstract>(Context);
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

	@* ! Hide app brand if navbar-full *@
	<div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
		<a asp-page="/Index" class="app-brand-link">
			<span class="app-brand-logo demo">
				@await Html.PartialAsync("../_Partials/_Macros")
			</span>
			<span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
			<i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
			<i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	@* ! Starter Kit menu-items *@
	<ul id="ulNavMenu" class="menu-inner py-1">
		<li class=' menu-item@(currentPage=="/Dashboard/Index" ? " active" : "" )'>
			<a asp-page="/Index" class="menu-link">
				<i class="menu-icon tf-icons ti ti-dashboard"></i>
				<div data-i18n="Dashboard">Dashboard</div>
			</a>
		</li>

		@if (roleManager.IsOrgSelected)
		{
			@if (roleManager.Role.Role == RolesEnum.ADMINISTRATOR)
			{
				<!-- Administration -->
				<li class="menu-header small text-uppercase">
					<span class="menu-header-text">Administration</span>
				</li>
				@*  <li class='menu-item@(currentPage == "/ParameterCtrl/DatabaseConfig" ? " active" : "")'>
		<a asp-page="/ParameterCtrl/DatabaseConfig" class="menu-link">
		<i class="menu-icon tf-icons ti ti-world"></i>
		<div data-i18n="Database Configs">Database Configs</div>
		</a>
		</li> *@

				<li class='menu-item@(currentPage == "/Account/ManageOrganization" ? " active" : "")'>
					<a asp-page="/Account/ManageOrganization" class="menu-link">
						<i class="menu-icon tf-icons ti ti-world-download"></i>
						<div data-i18n="Manage Organization">Manage Organization</div>
					</a>
				</li>
			}

			<!-- Setup -->
			<li class="menu-header small text-uppercase">
				<span class="menu-header-text">Features</span>
			</li>
			<li class='menu-item@(currentPage == "/Features/Projects1" ? " active" : "")'>
				<a asp-page="/Features/Projects1" class="menu-link">
					<i class="menu-icon tf-icons ti ti-layers-intersect"></i>
					<div data-i18n="Projects">Projects</div>
				</a>
			</li>
			<li class='menu-item@(currentPage == "/Features/Jobs" ? " active" : "")'>
				<a asp-page="/Features/Jobs" class="menu-link">
					<i class="menu-icon tf-icons ti ti-list-details"></i>
					<div data-i18n="Jobs">Jobs</div>
				</a>
			</li>
			<li class='menu-item@(currentPage == "/Features/Scheduling" ? " active" : "")'>
				<a asp-page="/Features/Scheduling" class="menu-link">
					<i class="menu-icon tf-icons ti ti-calendar-time"></i>
					<div data-i18n="Scheduling">Scheduling</div>
				</a>
			</li>
			<li class='menu-item@(currentPage == "/Features/Executions" ? " active" : "")'>
				<a asp-page="/Features/Executions" class="menu-link">
					<i class="menu-icon tf-icons ti ti-history-toggle"></i>
					<div data-i18n="Executions">Executions</div>
				</a>
			</li>
			@if (!(roleManager.Role.Role == RolesEnum.EXECUTOR))
			{
				<!-- Setup -->
				<li class="menu-header small text-uppercase">
					<span class="menu-header-text">Setup</span>
				</li>
				<li class='menu-item@(currentPage.StartsWith("/ParameterCtrl/") ? " active open" : " open")'>
					<a href="javascript:void(0);" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons ti ti-layout-sidebar"></i>
						<div data-i18n="Parameter Controls">Parameter Controls</div>
					</a>

					<ul class="menu-sub">
						<li class='menu-item@(currentPage.StartsWith("/ParameterCtrl/Source") ? " active open" : "")'>
							<a href='javascript:void(0);' class='menu-link menu-toggle'>
								<div data-i18n='Source'>Source</div>
							</a>
							<ul class='menu-sub'>
								<li class='menu-item@(currentPage == "/ParameterCtrl/Source/DBConnections" ? " active" : "")'>
									<a asp-page="/ParameterCtrl/Source/DBConnections" class="menu-link">
										<i class="menu-icon tf-icons ti ti-calendar"></i>
										<div data-i18n="DB Connections">DB Connections</div>
									</a>
								</li>
								<li class='menu-item@(currentPage == "/ParameterCtrl/Source/FileSourceConnections" ? " active" : "")'>
									<a asp-page="/ParameterCtrl/Source/FileSourceConnections" class="menu-link">
										<i class="menu-icon tf-icons ti ti-messages"></i>
										<div data-i18n="File Source Connections">File Source Connections</div>
									</a>
								</li>
								@*<li class='menu-item@(currentPage == "/ParameterCtrl/Source/SalesforceDBMapping" ? " active" : "")'>
						<a asp-page="/ParameterCtrl/Source/SalesforceDBMapping" class="menu-link">
						<i class="menu-icon tf-icons ti ti-calendar"></i>
						<div data-i18n="Salesforce DB Mapping">Salesforce DB Mapping</div>
						</a>
						</li>
						<li class='menu-item@(currentPage == "/ParameterCtrl/Source/QueryConfigurations" ? " active" : "")'>
						<a asp-page="/ParameterCtrl/Source/QueryConfigurations" class="menu-link">
						<i class="menu-icon tf-icons ti ti-messages"></i>
						<div data-i18n="Query Configuration">Query Configuration</div>
						</a>
						</li>*@
							</ul>
						</li>
						<li class='menu-item@(currentPage.StartsWith("/ParameterCtrl/Destination") ? " active open" : "")'>
							<a href='javascript:void(0);' class='menu-link menu-toggle'>
								<div data-i18n='Destination'>Destination</div>
							</a>
							<ul class='menu-sub'>
								<li class='menu-item@(currentPage == "/ParameterCtrl/Destination/SalesforceConfig" ? " active" : "")'>
									<a asp-page="/ParameterCtrl/Destination/SalesforceConfig" class="menu-link">
										<i class="menu-icon tf-icons ti ti-messages"></i>
										<div data-i18n="Salesforce Connections">Salesforce Connections</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			}
		}
</aside>
<!-- / Menu -->
